/build
/javadoc
/bin
sim.properties
jsbml.log
DTU-SB*jar
/test/test/simulator/test_simulator.csv
out.csv
test/test/parser/BIOMD0000000012.pdf
test/test/parser/BIOMD0000000412.pdf
.DS_Store
/neg_feedback_1.dat
/neg_feedback_10.dat
/neg_feedback_ext_1.dat
dtu-sb-docs
dtu-sb-docs
.gitmodules